<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <mappers>
        <!--别名 -->
        <mapper resource="com/dao/personsMapper.xml"/>
        <mapper resource="com/dao/accountMapper.xml"/>
        <mapper resource="com/dao/inTableMapper.xml"/>
        <mapper resource="com/dao/buyMapper.xml"/>
        <mapper resource="com/dao/goodsMapper.xml"/>
        <mapper resource="com/dao/departmentMapper.xml"/>
        <mapper resource="com/dao/stockMapper.xml"/>
        <mapper resource="com/dao/setMapper.xml"/>
    </mappers>

</configuration>