<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Welcome to use the TableGo Tools.
    
    http://www.tablego.cn
    
    http://vipbooks.iteye.com
    http://blog.csdn.net/vipbooks
    http://www.cnblogs.com/vipbooks
    
    Author: bianj
    Email: tablego@qq.com
    Version: 6.8.0
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- account -->
<mapper namespace="com.dao.AccountMapper" >
<!--    根据当日时间查找出今日的全部登录记录-->
    <select id="findLoginRecordAll" resultType="com.bean.account.Loginrecord" parameterType="map">
            SELECT loginrecord.*,account.`user`,account.`comment`
            FROM `loginrecord`
            LEFT JOIN account ON account.id = loginrecord.loginid
            WHERE loginrecord.logintime
            BETWEEN #{startTime} and #{endTime}
            ORDER BY loginrecord.logintime desc
    </select>

<!--    根据今日登陆时间汇总出账号登录-->
    <select id="CountTodayLoginRecordAll" resultType="com.bean.account.loginRecordCount">
        SELECT account.`comment`,
		COUNT(*) as Lcount
		FROM loginrecord
		LEFT JOIN account ON account.id = loginrecord.loginid
		GROUP BY loginrecord.loginid
    </select>

<!--   根据账号密码来找对应的信息-->
    <select id="findUserPassword" resultType="com.bean.account.Account" parameterType="map">
        SELECT *
        FROM `account`
        WHERE account.`user` = #{user} AND account.`password` = #{password}
    </select>

    <!-- 插入数据 -->
    <insert id="InsertLoginRecord"  parameterType="java.lang.Integer">
        INSERT INTO loginrecord (
             LoginId
        ) VALUES (
            #{loginid}
        )
    </insert>

</mapper>